<label class="label">{{ label }}:</label>
<nz-form-item>
    <nz-form-control [nzValidateStatus]="validationIconStatus" nzHasFeedback>
        <input #input nz-input placeholder="{{ placeholder }}" [type]="type" class="input"
            [class.input-error]="isInValidState" (input)="onChange($any($event.target).value)" (blur)="onTouched()"
            autocomplete="on" min="{{ min }}" max="{{ max }}" />
    </nz-form-control>

    <span *ngIf="required" class="error">{{ label }} is required</span>
    <span *ngIf="inValidPattern" class="error">{{ invalidMessage }}</span>
    <span *ngIf="notValidControl" class="error">{{invalidMessage}}</span>
    <span *ngIf="minLength" class="error">{{ label }} should contain at least
        {{ requiredLengthFromMinLength }} characters</span>
    <span *ngIf="minValue" class="error">{{ label }} should have a minimum value of {{ requiredMinValue }}
    </span>
</nz-form-item>