<nz-layout>
  <app-sidebar
    [dashboardMenus]="dashboardMenus"
    (sidebarCollapse)="onSidebarCollapse($event)"
  >
    <nz-layout [ngClass]="collapsedClass">
      <app-header
        (collapse)="onCollapse($event)"
        (logout)="onLogout()"
        [isCollapsed]="isCollapsed"
        [user]="user"
      ></app-header>
      <nz-content>
        <div class="inner-content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id
          laboriosam praesentium deleniti! Similique maiores alias ut cum
          aspernatur corrupti saepe facilis labore mollitia earum consectetur,
          placeat, voluptatum optio possimus ipsum? Sapiente quod, maiores
          quibusdam reiciendis reprehenderit, sint nihil fugiat deserunt
          necessitatibus, tenetur asperiores eum ipsum explicabo. Iste eum autem
          architecto alias asperiores numquam iusto neque illo dicta. Vel, totam
          consequuntur. Aliquid maxime tempore itaque eligendi veniam nulla
          asperiores dolorum, corporis inventore repellat facilis voluptatem
          nesciunt quam quas corrupti culpa neque possimus velit vitae. Est,
          placeat quia obcaecati iure a unde. Asperiores eius animi iste
          voluptas amet non voluptatum. Autem officiis voluptate nemo, sunt
          blanditiis omnis fugiat provident maiores doloremque nobis, deserunt
          vel quaerat voluptates qui. Numquam fugiat nesciunt ullam veritatis.
          Iusto praesentium illo reprehenderit voluptatibus quo in facilis
          possimus corrupti architecto cumque perferendis fuga aspernatur, at
          officiis magnam, reiciendis ad nobis veniam alias laboriosam
          repellendus dolorem, id modi iure! Veniam. Necessitatibus officiis
          expedita laboriosam in deserunt. Obcaecati officia consequuntur
          quisquam ratione cupiditate! Eius omnis ducimus doloribus, voluptate
          aut non repellat placeat delectus quam recusandae sed nostrum quidem
          voluptates eligendi asperiores? Ducimus ut modi enim autem aspernatur
          id, molestiae accusantium magnam numquam culpa, dicta quisquam
          repudiandae quaerat. Quod dolores ut quibusdam iste magnam, modi quae
          aliquam excepturi alias temporibus deleniti minus. A molestiae quaerat
          deleniti accusantium, modi aliquid commodi laboriosam repudiandae
          voluptate ex amet ipsa reprehenderit laborum iste minima quas
          praesentium velit, incidunt veritatis eos repellendus alias. Nostrum
          aliquid praesentium quam? Saepe, temporibus recusandae? Quos
          consectetur a, iure veritatis aspernatur ipsum officiis nulla
          repudiandae possimus perferendis fuga doloribus modi distinctio libero
          repellendus accusantium error. Iure accusamus architecto quis saepe a
          amet. Veritatis, impedit. Autem corrupti corporis dolorem eum,
          laudantium quibusdam officiis soluta. Temporibus ipsum earum repellat
          ipsa tempore dignissimos incidunt expedita, nesciunt voluptates
          aliquid libero, rem eligendi. Sapiente nisi temporibus dolorum.
          Doloremque odit tempore quisquam ratione architecto. Iste sit earum
          aperiam, eius explicabo porro quae ab sed laborum illum! Error
          molestias quasi iure placeat voluptatum quas vitae ipsam molestiae
          aliquam unde! Natus labore molestias culpa possimus dolores. Totam
          fugit eaque esse blanditiis. Harum optio aliquid non molestiae
          corporis, suscipit quos quae nulla sit beatae omnis reprehenderit,
          fugiat temporibus fugit totam blanditiis. Dolores nulla distinctio qui
          quia dicta rem quisquam, porro dignissimos quos at laudantium nesciunt
          ea, consequatur voluptate fuga consequuntur sunt delectus, perferendis
          autem fugit mollitia? Autem tempora porro dolor voluptates! Rem,
          repellat aspernatur nostrum similique dignissimos eos a iste neque
          accusamus eveniet, unde fugit! Architecto atque nulla laboriosam,
          temporibus vitae quae minima quasi. Vel eaque mollitia itaque
          architecto accusantium voluptatem! In ullam quod mollitia maxime
          repellat, voluptates, voluptatum tempora consequuntur facere quasi
          expedita alias minima accusantium molestias repellendus, commodi
          laudantium reiciendis. Odio veniam ipsum dolor rerum sit voluptatum,
          temporibus quod! Maiores cumque suscipit placeat explicabo obcaecati
          quae incidunt ipsum? Sequi quaerat, corrupti architecto sint
          distinctio harum porro repudiandae itaque non dolores nam aspernatur
          natus, impedit, doloremque eos illo atque eligendi. Voluptas quas
          enim, cumque repellat provident dolorem officiis eius officia vitae at
          veniam incidunt magni ea veritatis quo saepe pariatur dolore? Beatae
          laudantium voluptates itaque inventore eligendi sit accusantium eius.
          Minus molestiae fugiat unde ipsam. Ratione quae commodi eligendi autem
          architecto suscipit? Repellendus magnam expedita vel veniam et.
          Quibusdam quidem atque quam recusandae totam consequuntur velit
          deleniti corrupti doloribus quasi? Autem ullam quo, fuga neque itaque
          modi velit vitae alias, nostrum possimus molestiae tempora, eos quia.
          Esse ducimus necessitatibus nobis totam rerum dicta quis natus
          officia, assumenda aut, magni repudiandae. Commodi eum temporibus
          alias dolorum perspiciatis nulla tempore provident quod, blanditiis
          quae inventore? Harum aut fuga ab atque iusto voluptatum cupiditate
          perspiciatis fugiat id in dignissimos, esse cumque quaerat aperiam!
          Nesciunt labore hic corrupti ut, consequuntur fuga dolores provident,
          ex aliquid aut est incidunt veritatis magnam accusamus iusto assumenda
          cumque dolor quo in officia maiores voluptates laborum eius quos!
          Quia! Consequuntur totam fugiat impedit adipisci alias dolore a
          nesciunt, nihil placeat iure voluptate vel maxime! Eum commodi
          praesentium modi culpa quaerat nisi, itaque quidem est esse
          perferendis laborum odio exercitationem? Exercitationem odio
          accusantium, velit nostrum doloribus laudantium asperiores quidem
          voluptatem facere pariatur delectus consectetur quaerat consequatur.
          Expedita, magni libero aut est laborum saepe eum accusantium, ad ex
          rerum dolorum? Tempora. Maxime quae placeat incidunt fugit laborum
          delectus aut ullam nesciunt, debitis labore aliquam veniam odio in ex
          blanditiis repellendus! Provident tenetur non aliquam vero,
          accusantium ea quaerat mollitia ad doloremque. Doloribus, facere
          cupiditate! Sequi voluptates laborum praesentium recusandae vero totam
          ea adipisci amet asperiores temporibus molestiae necessitatibus animi
          laboriosam consequatur officia, omnis eos eius sint modi ullam et
          dignissimos quam? Necessitatibus architecto repellat maiores molestias
          in tempore repudiandae similique illum asperiores at minima aperiam
          aliquam odio suscipit, harum sequi? Libero, dignissimos! Ad dolor
          cumque quaerat hic doloremque, ab in non. A debitis, asperiores
          tempora quae earum iusto quam dolorem porro est. Sequi, numquam! Saepe
          voluptas possimus tempora fugiat, dolorum aliquid beatae soluta,
          praesentium ratione officiis distinctio dolor eos repellat animi?
          Autem voluptas illo distinctio nesciunt eveniet sint, non, repellat
          corporis est laudantium pariatur error deleniti in sapiente rerum
          eaque praesentium voluptates doloremque blanditiis necessitatibus!
          Porro ducimus quidem impedit blanditiis suscipit! Laudantium voluptas
          odit incidunt ut pariatur non aperiam, perferendis neque deserunt
          repellendus excepturi tenetur similique dignissimos facere adipisci
          cum obcaecati ad maiores ex esse. Ab excepturi cupiditate porro a
          quae. Eos perspiciatis, voluptatibus odit assumenda qui incidunt quos
          sint labore quidem natus delectus rerum obcaecati quis aspernatur
          vitae laboriosam. Mollitia fuga id accusamus eius illum corporis
          nostrum cumque sed odit! Expedita ipsa, necessitatibus cupiditate
          voluptatum odit alias quas nisi eius error reiciendis non debitis aut
          laborum saepe minima eligendi. Corporis incidunt saepe deserunt
          consectetur voluptatem debitis fugiat necessitatibus eos qui. Ad,
          dignissimos quam impedit aut corporis, et quo minima error dolore
          voluptate dolor libero expedita numquam ipsa commodi vitae qui
          voluptatem nihil magni minus neque esse! Quas sequi facilis numquam!
          Non nisi maxime odio, dolore suscipit minima ratione quisquam! Vel id
          magnam quo, nihil ipsum minus molestias non deserunt provident! Ea
          ipsa modi, dolorem consequuntur suscipit veritatis ducimus nulla
          labore. Voluptatum fuga quas mollitia. Illo, magni accusantium.
          Doloremque ipsum eum laboriosam labore ab repudiandae dignissimos
          beatae repellendus similique impedit nulla atque fuga harum, cumque
          vero voluptatum, magnam accusantium! Ipsam, animi. Nam assumenda illo
          molestias, obcaecati aspernatur cupiditate similique doloremque
          quisquam explicabo error voluptatibus eum voluptatum numquam eaque
          accusamus iure corrupti incidunt. Veniam possimus corrupti saepe
          molestiae, consequatur tempora quod. Voluptates. Corporis perspiciatis
          quidem exercitationem natus sint expedita harum hic praesentium,
          veniam ex possimus aperiam, officia aspernatur sit inventore nihil
          deserunt recusandae assumenda. Ea id vel molestias qui eaque numquam
          saepe. Maxime molestiae suscipit autem eveniet voluptatibus pariatur
          quo fugiat tempora laborum itaque assumenda debitis placeat numquam
          eius voluptatem vitae ullam quasi ea, hic nulla in. Labore, laudantium
          quibusdam. Cupiditate, quo? In eaque voluptates odit nam architecto
          perspiciatis, amet eos ratione facilis reprehenderit, repellendus
          mollitia soluta. Commodi ratione, temporibus odit nulla ad deserunt
          voluptas quidem, voluptate deleniti aspernatur eos earum tempora.
          Mollitia reprehenderit aut totam cum eveniet? Mollitia aspernatur
          soluta earum repudiandae, modi reprehenderit perspiciatis animi
          laudantium praesentium, asperiores molestiae ratione! Earum temporibus
          tempore maxime, autem necessitatibus excepturi rem exercitationem
          soluta? Sequi, eaque vitae! Dolorum sapiente a, incidunt earum vero
          omnis totam, ad iusto porro nostrum fuga velit ducimus repellat
          pariatur dolore in fugit ullam blanditiis laudantium error!
          Consequuntur, molestiae harum? Consequatur iusto officiis eius quam
          quibusdam ab cum voluptates rerum eum voluptatum repellat, fuga iste
          quia debitis veniam mollitia ut voluptatem saepe, dignissimos
          cupiditate distinctio quo! Fugit sequi excepturi animi. Minus beatae
          unde, quo dolor facilis, autem numquam molestias reiciendis natus
          voluptate alias est sed ad, iste minima officia? Laborum eos est
          voluptatum dicta recusandae! Iste inventore expedita dicta nam. Ex
          laudantium eum in praesentium doloribus, deserunt asperiores ea
          tenetur enim fugiat voluptatum modi magnam. Possimus nobis,
          accusantium similique voluptate veritatis illum optio, dolorum
          laboriosam inventore, sunt nulla facilis! Hic. Veniam blanditiis
          praesentium debitis quis velit voluptas quidem quam repellendus itaque
          at! Velit, error. Deserunt praesentium reiciendis dolorum et possimus
          ducimus? Totam ipsa iusto illum impedit explicabo ipsum consequuntur
          voluptate! Totam reiciendis ab ratione illo alias ipsam. Asperiores
          aut perferendis vel unde fugiat enim hic, vero officia in cumque
          molestiae quae aliquid beatae magni nisi ipsam minus id? Vel, optio.
          Animi odio, deserunt sit quaerat voluptates unde exercitationem.
          Commodi illo et quos, vitae in praesentium facere iste pariatur sint
          sunt a doloribus cupiditate dolorum aspernatur, est odit nisi eligendi
          odio? Eum nemo officia omnis reiciendis blanditiis quod modi obcaecati
          accusamus ut, maiores in ad optio aperiam nobis odit sunt quia
          officiis aliquid facere, saepe dolor! Repudiandae soluta dolor natus
          tempore! Aliquam illum quasi unde voluptatum harum blanditiis magni
          repellat est modi quidem rerum debitis, animi voluptatibus omnis atque
          totam nam corrupti! Iusto possimus non doloremque magnam assumenda
          repudiandae ipsa quod? Commodi eveniet amet voluptatem labore, numquam
          reprehenderit molestiae provident incidunt in vero, expedita minima
          eius corrupti quibusdam maxime? Quo quaerat rem magni animi sit? Sint
          veniam itaque deleniti iusto quos. Iste est dolorem debitis excepturi
          repellat repudiandae vitae nostrum laboriosam repellendus mollitia
          suscipit dolore corrupti qui enim ducimus atque, cum placeat ipsa.
          Molestiae autem cumque, maxime alias consectetur harum omnis.
          <ng-content></ng-content>
        </div>
      </nz-content>
    </nz-layout>
  </app-sidebar>
</nz-layout>

<!-- <nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [nzCollapsed]="true"
    [nzCollapsedWidth]="0"
    [nzTrigger]="trigger"
  >
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>nav 1</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="video-camera"></i>
        <span>nav 2</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="upload"></i>
        <span>nav 3</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>nav 4</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">Content</div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>

<ng-template #trigger>
  <p>Collapse</p>
</ng-template> -->
