.expanded nz-content {
  margin-left: 210px;
}

.layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
  margin: 50px 0 20px 0;
  border-radius: 0.7rem;
}

nz-footer {
  text-align: center;
}
