<app-auth-form>
    <ng-container id="message">
        <h2>You forgot your password?</h2>
        <p>Don't worry we got you covered</p>
        <app-button [inverted]="true" routerLink="/auth/sign-in">
            <fa-icon [icon]="faSignIn"></fa-icon> Sign In
        </app-button>
    </ng-container>
    <ng-container id="form">
        <h2>Start resetting your password.</h2>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" class="center">
            <app-input formControlName="email" invalidMessage="Invalid Email Address"
                placeholder="Enter your email address" label="Email Address"></app-input>
            <app-button [disabled]="forgotPasswordForm.invalid" [isLoading]="loading">
                <fa-icon [icon]="faSignIn"></fa-icon> Reset password
            </app-button>
        </form>
    </ng-container>
</app-auth-form>