$size-xxs: 0.5rem;
$size-xs: 1rem;
$size-sm: 2rem;
$size-md: 4rem;
$size-lg: 6rem;
$size-xl: 8rem;
$size-xxl: 10rem;

//border-radius
$border-radius-sm: 0.5rem;
$border-radius-md: 1rem;
$border-radius-lg: 1.5rem;
$border-radius-xl: 2rem;

$primary-linear-gradient: linear-gradient(
  to right bottom,
  rgba(#1ddcbc, 0.8),
  rgba(#00957c, 0.8)
);

$secondary-linear-gradient: linear-gradient(
  to right bottom,
  rgba(#3e6bd7, 0.8),
  rgba(#1e47a6, 0.8)
);

$tertiary-linear-gradient: linear-gradient(
  to right bottom,
  rgba(#f57e64, 0.8),
  rgba(#d74727, 0.8)
);

$disabled-linear-gradient: linear-gradient(
  to right bottom,
  rgba(#bebfbf, 0.8),
  rgba(#888989, 0.8)
);

$color-primary-a: #00957c;
$color-primary-b: #56ceba;
$color-primary-c: #017460;

$color-secondary-a: #1e47a6;

$color-tertiary-a: #d74727;
$color-error: rgb(243, 69, 69);

$color-dark-a: #10182f;
$color-white-a: #f4f4f4;
$color-white-b: #f9f9f9;
$color-gray-a: rgb(234, 234, 234);

//box-shadows
$shadow-md: 0px 0px 1px rgba(12, 26, 75, 0.24),
  0px 3px 8px -1px rgba(50, 50, 71, 0.05);

//Font sizes
$font-sm: 1.4rem;
$font-md: 1.6rem;
$font-lg: 2rem;
$font-xl: 2.5rem;
$font-xxl: 3rem;

$font-family-primary: "Lato", sans-serif;
$font-family-secondary: "Handlee", cursive;
