<app-auth-form>
    <ng-container id="message">
        <h2>Welcome Back!</h2>
        <p>There is more to learn. It has been interesting to have you on board.</p>
        <button class="button button-outline button-inverse" routerLink="/auth/sign-up">
            <fa-icon [icon]="faRegister"></fa-icon> Sign Up
        </button>
    </ng-container>
    <ng-container id="form">
        <h2>Sign Up to Journey</h2>
        <form [formGroup]="signInForm" (ngSubmit)="submitForm()">
            <app-input formControlName="email" patternMessage="Invalid Email Address"
                placeholder="Enter your email address" label="Email Address"></app-input>

            <app-input type="password" formControlName="password" placeholder="Enter your password" label="Password">
            </app-input>

            <div class="right-items">
                <app-button [disabled]="signInForm.invalid" [isLoading]="loading">
                    <fa-icon [icon]="faSignIn"></fa-icon> Login
                </app-button>
            </div>
        </form>
    </ng-container>
</app-auth-form>