<app-steps-wrapper title="Create New Course" [currentIndex]="currentIndex" [headers]="headers"
    (handlePreviousButtonClick)="onPreviousButtonClick()" (handleNextButtonClick)="onNextButtonClick()"
    (handleDoneButtonClick)="onDoneButtonClick()">
    <ng-container content>
        <div class="steps-content">
            <div [ngStyle]="currentIndex| switchDisplay : 0" class="form-container__body--content">
                First Component
            </div>
            <div [ngStyle]="currentIndex| switchDisplay : 1" class="form-container__body--content">Second Component
            </div>
            <div [ngStyle]="currentIndex| switchDisplay : 2" class="form-container__body--content">Third Component</div>
        </div>
    </ng-container>
</app-steps-wrapper>