.card {
  min-width: 70%;
  box-shadow: $box-shadow;
  border: 2px solid var(--colorPrimaryA);
  border-radius: 0.7rem;  

  &__body {
    background: var(--colorBackgroundA);
    padding: 5rem;
  }

  &__footer {
    border-top: 5px solid var(--colorPrimaryA);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
  }
}
