.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  margin-right: 2rem;

  &__input {
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    width: 95%;
    padding: 0.7rem 2rem;
    transition: all 0.2s;
    border-radius: 1rem;
    margin-right: -3.1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(#000, 0.1);
    height: 4rem;

    @include respond(phone) {
      width: 100% !important;
    }

    text-align: center;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      //Used for styling input placeholders in safari and chrome
      font-weight: 100;
      color: var(--colorPrimaryA);
    }
  }

  &__button {
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    background-color: #fff;
    padding: 0.7rem;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: var(--colorPrimaryA);
    border: none;
  }
}

.table-header {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-item {
  flex: 0 0 80%;
}

.filter {
  width: 16rem;
}
.search-box {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  color: var(--colorPrimaryA);
}

.search-controls {
  flex: 1;
  & > * {
    width: 100%;
  }

  &__button {
    padding: 0.8rem;
    border: 0;
    margin-right: 2rem;
    margin-left: 2rem;
    cursor: pointer;
    background-color: var(--colorPrimaryA);
    border-radius: 0.4rem;

    &:hover {
      background-color: var(--colorPrimaryA);
    }

    &:focus {
      outline: none;
    }
  }
}
