.item-right {
  margin-right: 1rem;
  color: $color-primary-a;
  font-family: $font-family-secondary;
  font-size: $font-md;
  span {
    margin-right: 1rem;
  }
  cursor: pointer;
}

.menu-item {
  color: $color-primary-a;
  padding: 1rem 1.5rem;
  font-family: $font-family-primary;
}

.menu-item > i {
  margin-right: 1rem;
}

.inner-content {
  padding: 5px;
  min-height: 80vh;
  margin: 50px 0 20px 0;
  border-radius: 0.7rem;
}
