.page-header {
  text-align: center;
  position: fixed;
  top: 6.4rem;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $color-white-c;
  box-shadow: $shadow-lg;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1rem;
    margin-top: 0.5rem;

    & > h2 {
      align-self: center;
      font-size: calc(1rem + 2vw);
      font-family: $font-family-secondary;
      color: $color-primary-a;
      font-weight: 800;
      letter-spacing: 0.1rem;

      @include respond(tab-port) {
        align-self: auto;
        font-size: 2rem;
        margin: 0 1rem;
      }
    }

    & > app-search-item {
      width: 100%;
      padding: 0.5rem 0;
      @include respond(tab-port) {
        width: 0%;
        flex: 1;
      }
    }

    & > app-button {
      align-self: flex-end;
      @include respond(tab-port) {
        align-self: auto;
      }
    }

    @include respond(tab-port) {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 70%;
      margin: 0 auto;
    }
  }
}

.page-container {
  margin-top: 6.8rem;
  box-shadow: $shadow-md;
  @include respond(tab-port) {
    position: absolute;
    left: 30rem;
    width: calc(100% - 32rem);
    background-color: $color-white-c;
    margin-left: 2rem;
  }

  &__body {
    min-height: 45vh;
  }
}

.browse-content {
  @include respond(tab-port) {
    display: flex;
    justify-content: space-between;
  }

  &--body {
    padding: 1rem;
    @include respond(tab-port) {
      min-height: 70vh;
      flex: 1;
      background-color: white;
      margin: 2rem;
    }
  }
}

.page-sidebar-container {
  margin-top: 6.8rem;
  @include respond(tab-port) {
    height: calc(100vh - 6.8rem);
    position: fixed;
    left: 0;
    z-index: 2;
    width: 30rem;
    border-top-right-radius: 0.5rem;
    background-color: $color-white-c;
    padding: 2rem;
  }

  h4 {
    text-align: center;
  }

  &__body {
    background: $color-white-c;
    padding: 1rem;
    @include respond(tab-port) {
      min-height: calc(0.7 * (100vh - 6.8rem)); //70% of the parent height
      overflow-y: scroll;
      background-color: white;
    }
  }
  &__footer {
    padding-top: 0.5rem;
    @include respond(tab-port) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.fullWidth {
  @include respond(tab-port) {
    position: relative;
    width: 85%;
    background-color: rgb(249, 249, 249);
    margin: 6.8rem auto 0;
    left: 0;
  }
}
