.page-header {
  text-align: center;
  position: fixed;
  top: 6.4rem;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $color-white-c;
  box-shadow: $shadow-lg;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1rem;
    margin-top: 0.5rem;

    & > h2 {
      align-self: center;
      font-size: calc(1rem + 2vw);
      font-family: $font-family-secondary;
      color: $color-primary-a;
      font-weight: 800;
      letter-spacing: 0.1rem;

      @include respond(tab-port) {
        align-self: auto;
        font-size: 3rem;
        margin: 0 1rem;
      }
    }

    & > app-search-item {
      width: 100%;
      padding: 0.5rem 0;
      @include respond(tab-port) {
        width: 0%;
        flex: 1;
      }
    }

    & > app-button {
      align-self: flex-end;
      @include respond(tab-port) {
        align-self: auto;
      }
    }

    @include respond(tab-port) {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 70%;
      margin: 0 auto;
    }
  }
}

.page-container {
  margin: 0 auto;
  position: relative;
  margin-top: 6.8rem;

  border-radius: 2rem;
  box-shadow: $shadow-md;
  background-color: rgb(249, 249, 249);
  z-index: 0;

  &__body {
    min-height: 45vh;
  }
}

.browse-content {
  @include respond(tab-port) {
    display: flex;
    justify-content: space-between;
  }

  &--filter {
    h4 {
      text-align: center;
      font-family: $font-family-secondary;
      padding-top: 0.5rem;
      background: $color-white-c;
    }
    @include respond(tab-port) {
      align-self: flex-start;
      width: 16vw;
      position: relative;
      background: $color-white-c;
      border-radius: 5px;
    }

    &__body {
      background: $color-white-c;
      padding: 1rem;
      @include respond(tab-port) {
        max-height: 70vh;
        min-height: 70vh;
        overflow-y: scroll;
        background-color: white;
      }
    }
    &__footer {
      padding-top: 0.5rem;
      @include respond(tab-port) {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $color-white-c;
      }
    }
  }

  &--body {
    padding: 1rem;
    @include respond(tab-port) {
      min-height: 70vh;
      flex: 1;
      background-color: white;
      margin: 2rem;
    }
  }
}
