<nz-form-item>
  <nz-form-control [nzValidateStatus]="validationIconStatus" nzHasFeedback>
    <textarea
      #textArea
      nz-input
      placeholder="{{ placeholder }}"
      class="input"
      [class.input-error]="isInValidState"
      (input)="onChange($event.target.value)"
      (blur)="onTouched()"
      autocomplete="on"
      rows="4"
      cols="5"
    ></textarea>
  </nz-form-control>

  <span *ngIf="required" class="error">{{ label }} is required</span>
  <span *ngIf="inValidPattern" class="error">{{ patternMessage }}</span>
  <span *ngIf="notValidEmail" class="error">Email address already in use</span>
  <span *ngIf="notValidUsername" class="error">Username already exists</span>
  <span *ngIf="minLength" class="error"
    >{{ label }} should contain at least
    {{ requiredLengthFromMinLength }} characters</span
  >
</nz-form-item>
