.inspect {
  min-height: 90vh;

  &__box {
    margin: 1rem 0.1rem;

    padding: 1rem 2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.7rem;
    min-height: 8rem;

    & > h3 {
      color: var(--color-primary-1);
      font-size: 1.5rem;
    }

    &--flex {
      display: flex;
      align-items: center;

      &-item {
        &:not(:last-child) {
          margin-right: 5rem;
        }

        h4 {
          color: var(--color-primary-1);
        }
      }
    }
  }
}
