//Variables for Grid
$grid-width: 114rem;
$grid-vertical-gutter: 2rem;
$grid-horizontal-gutter: 3rem;
$primary-linear-gradient: linear-gradient(
  to right bottom,
  rgba(#15c0a3, 0.8),
  rgba(#00957c, 0.8)
);
