<app-layout-page sidebarHeader="Apply Filters" [hasSidebar]="hasSideBar">
    <ng-container id="headerContent">
        <h2>{{pageHeading}}</h2>
        <app-search-item [searchQuery]="searchQuery" (handleSearchQuery)="onHandleSearchQuery($event)">
        </app-search-item>
        <app-button (handleClick)="onNewButtonClick()">
            <fa-icon [icon]="plusIcon"></fa-icon> Create New
        </app-button>
    </ng-container>

    <!-- Sidebar content -->
    <ng-container id="sidebarHeader">
        <fa-icon [icon]="filterIcon" size="xl"></fa-icon>
        <nz-badge nzStandalone [nzCount]="filteredItemsCount" [nzStyle]="{ backgroundColor: '#52c41a' }"></nz-badge>

    </ng-container>
    <ng-container id="sidebarContent">
        <ng-content select="[filterData]"></ng-content>
    </ng-container>

    <ng-container id="sidebarFooter">
        <app-button [inverted]="true" [size]="buttonSizes.Sm" [borderRadius]="buttonSizes.None"
            (handleClick)="onClearFilter()">Clear
        </app-button>
        <app-button [size]="buttonSizes.Sm" [borderRadius]="buttonSizes.None" (handleClick)="onApplyFilter()">Apply
        </app-button>
    </ng-container>

    <!-- Main Content -->
    <ng-container id="mainContent">
        <app-table [tableHeaders]="tableHeaders" [tableData]="tableData" [showActionButtons]="showActionButtons"
            [actionButtons]="actionButtons" (handleActionButtonClick)="onHandleactionButtonClick($event)"></app-table>
    </ng-container>
</app-layout-page>