.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-primary-white);
  padding: 1rem;
  margin: 1rem;
}

.upload-button {
  height: 10rem;
  width: 100%;
  padding: 3rem;
}

.start-button {
  display: block;
  color: var(--color-primary-white);
}

.upload__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload__image {
  display: block;
  max-width: 15rem;
  max-height: 15rem;
  width: auto;
  height: auto;
  border-radius: 50%;
}
