<nz-table [nzData]="data" [nzFrontPagination]="paginateTable">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{ header?.label }}</th>
      <th *ngIf="action" nzRight>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let record of data"
      (click)="onClickRecord(record)"
      [ngClass]="{ 'app-table-row': showTableHoverIcon }"
    >
      <ng-container *ngFor="let header of headers">
        <td
          *ngIf="!header.isImage"
          [innerHTML]="record && record[header?.key]"
        ></td>
        <td *ngIf="header.isImage">
          <img [src]="record[header?.key]" class="image__rounded" />
        </td>
      </ng-container>

      <td nzRight *ngIf="action">
        <ng-container *ngFor="let action of actions">
          <ng-container *ngIf="action.hasAccess">
            <button
              *ngIf="action.includeConfirm"
              nz-button
              class="icon"
              [nzTooltipTitle]="action.toolTipMessage"
              nzTooltipPlacement="bottom"
              nz-tooltip
              nz-popconfirm
              [nzPopconfirmTitle]="action.confirmMessage || 'Confirm Operation'"
              (nzOnConfirm)="
                onActionClick($event, record[action.key], action.type)
              "
              nzPopconfirmPlacement="bottom"
              [nzOkText]="action.confirmButtonText || 'Ok'"
              [disabled]="
                action.disabled
                  ? onDisabled(action.disabled, record[action.key])
                  : false
              "
            >
              <fa-icon
                [icon]="action.icon"
                size="sm"
                [styles]="action.style"
              ></fa-icon>
            </button>

            <button
              *ngIf="!action.includeConfirm"
              nz-button
              class="icon"
              [nzTooltipTitle]="action.toolTipMessage"
              nzTooltipPlacement="bottom"
              nz-tooltip
              (click)="onActionClick($event, record[action.key], action.type)"
              [disabled]="
                action.disabled
                  ? onDisabled(action.disabled, record[action.key])
                  : false
              "
            >
              <fa-icon
                [icon]="action.icon"
                size="sm"
                [styles]="action.style"
              ></fa-icon>
            </button>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
