.ant-modal-content {
  border-radius: $size-sm;
}

.ant-modal-header {
  background-image: $primary-linear-gradient;
}

.ant-modal-title {
  color: $color-white-a;
  font-family: $font-family-secondary;
  font-weight: 600;
}

.modal-form__content {
  max-height: 70vh;
  overflow-y: scroll;
  padding: 2rem;
}
.ant-modal-header {
  text-align: center;
  text-transform: uppercase;
  color: $color-white-a !important;
}

.ant-modal-body {
  min-height: 20rem;
  border: 0 solid $color-primary-a;
  border-radius: 0 0 20px 20px;
  border-bottom-width: 5px;
}

.ant-btn-primary {
  background: $primary-linear-gradient;
  color: $color-white-a;

  &:hover {
    background: $primary-linear-gradient;
  }
}

.ant-btn {
  border-radius: 0.7rem;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-2px);
  }
}

.ant-modal-footer {
  border-top: 2px solid $color-primary-a;
}

.ant-modal-close {
  color: $color-white-a !important;
}

.ant-modal-footer {
  padding: 0;
  text-align: right;
  background: transparent;
  border-top: 1px solid #f0f0f0;
  border-radius: 0 0 2px 2px;
  border-top: 0px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  &__items {
  }
}
